<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianli.management.mapper.ServiceFeeMapper">
    <select id="getTotalAmount" resultType="com.tianli.management.entity.ServiceFee">
        SELECT sum(`amount`) as amount, `coin`, `network`
        FROM `service_fee`
        WHERE `type` = #{type}
        <if test="query.startTime != null and query.endTime != null">
            AND `create_time` BETWEEN #{query.startTime} AND #{query.endTime}
        </if>
        GROUP BY `coin`,`network`
    </select>
</mapper>