<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianli.charge.mapper.OrderMapper">
    <select id="selectByPage" resultType="com.tianli.financial.vo.OrderFinancialVO">
        SELECT o.type as charge_type,
        pro.name,
        pro.coin,
        o.status as charge_status,
        o.create_time,
        pro.type as product_type,
        o.amount,
        o.order_no,
        pro.rate
        FROM `order` o
        LEFT JOIN financial_product pro on pro.id = o.related_id
        WHERE 1=1

        <if test="query.uid != null">
            AND o.uid = #{query.uid}
        </if>
        <if test="query.orderNo != null">
            AND o.order_no = #{query.orderNo}
        </if>
        <if test="query.status != null">
            AND o.status = #{query.status}
        </if>
        <if test="query.productType != null">
            AND pro.type = #{query.productType}
        </if>
        <if test="query.chargeType != null">
            AND o.type = #{query.chargeType}
        </if>
        <if test="query.name != null">
            AND pro.name like concat('%',#{query.name},'%')
        </if>
        <if test="query.coin != null">
            AND pro.coin = #{query.coin}
        </if>

        ORDER BY o.create_time desc
    </select>
</mapper>