<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianli.charge.mapper.OrderMapper">
    <select id="selectByPage" resultType="com.tianli.financial.vo.OrderFinancialVO">
        SELECT o.type as charge_type,
        o.status as charge_status,
        o.create_time,
        o.amount,
        o.order_no,
        record.product_type as type ,
        record.product_name as name,
        record.coin,
        record.product_term as term,
        record.rate
        FROM `order` o
        INNER JOIN financial_record record on record.id = o.related_id
        WHERE 1=1

        <if test="query.uid != null">
            AND o.uid = #{query.uid}
        </if>
        <if test="query.orderNo != null">
            AND o.order_no = #{query.orderNo}
        </if>
        <if test="query.status != null">
            AND o.status = #{query.status}
        </if>
        <if test="query.productType != null">
            AND record.product_type = #{query.productType}
        </if>
        <if test="query.chargeType != null">
            AND o.type = #{query.chargeType}
        </if>
        <if test="query.name != null">
            AND record.product_name like concat('%',#{query.name},'%')
        </if>
        <if test="query.coin != null">
            AND record.coin = #{query.coin}
        </if>

        ORDER BY o.create_time desc
    </select>
    <select id="selectOrderSettleInfoVOPage" resultType="com.tianli.charge.vo.OrderSettleInfoVO">
        SELECT o.uid, record.id as record_id, income.income_amount, o.amount as settle_amount,
               record.purchase_time ,record.start_income_time,record.redeem_time,
               record.coin,record.product_name,record.product_term
        FROM `order` o
                 INNER JOIN financial_record record on record.id = o.related_id and record.uid = o.uid
                 INNER JOIN financial_income_accrue income ON income.uid = o.uid and income.record_id = record.id
        WHERE o.uid = #{uid}
          and record.product_type = #{productType}
          and o.type = 'settle'
    </select>
</mapper>