<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianli.chain.mapper.WalletImputationMapper">

    <select id="imputationAmount" resultType="com.tianli.management.dto.AmountDto">

        SELECT sum(`amount`) as amount, `coin`
        FROM wallet_imputation
        WHERE 1 = 1
        <if test="coin != null">
            AND coin = #{coin}
        </if>

        <if test="uid != null">
            AND uid = #{uid}
        </if>
        <if test="network != null">
            AND network = #{network}
        </if>

        <if test="status != null and wait == false">
            AND `status` = #{status}
        </if>


        <if test="wait == true">
            AND `status` != 'success'
        </if>


        group by `coin`

    </select>
</mapper>