<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.financial.mapper.FinancialRecordMapper">

    <update id="reduce">
        UPDATE financial_record
        SET redeem_time =#{now},
            update_time = #{now},
            hold_amount = hold_amount - #{amount}
        where id = #{recordId}
    </update>

    <select id="countProcess" resultType="com.tianli.management.dto.AmountDto">
        SELECT hold_amount as amount,
               coin
        FROM financial_record
        <where>
            <if test="productType != null">
                product_type = #{productType}
            </if>
             AND status = 'PROCESS'
        </where>
    </select>
</mapper>