<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.borrow.dao.BorrowRepayRecordMapper">
        <select id="selectRepaySumQuery" resultType="decimal">
            select ifnull( sum(repay_amount),0) 
            from borrow_repay_record 
            <where>
                <if test="orderId != null">
                    order_id = #{orderId}
                </if>
                <if test="type != null">
                    and type = #{type}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
                <if test="startTime != null">
                    and repay_time &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    and repay_time &lt;= #{endTime}
                </if>
            </where>
        </select>
</mapper>
