<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.fund.dao.FundTransactionRecordMapper">

    <select id="selectTransactionAmount" resultType="com.tianli.fund.dto.FundTransactionAmountDTO">
        select
            sum(if(type = 'purchase',a.transaction_amount,0 ) ) purchaseAmount,
            sum(if(type = 'redemption',a.transaction_amount,0 ) ) redemptionAmount,
            a.coin
        from
            fund_transaction_record a
            left join wallet_agent_product b on a.product_id = b.product_id
        <where>
            <if test="queryUid != null and queryUid != ''">
                and a.uid like concat('%',#{queryUid},'%')
            </if>
            <if test="queryFundId != null and queryFundId != ''">
                and a.fund_id like concat('%',#{queryFundId},'%')
            </if>
            <if test="queryProductId != null and queryProductId != ''">
                and a.product_id like concat('%',#{queryProductId},'%')
            </if>
            <if test="type != null and type != ''">
                and a.type = #{type}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="startTime != null ">
                and a.create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and a.create_time &lt;= #{endTime}
            </if>
            <if test="agentUId != null">
                and b.uid = #{agentUId}
            </if>
        </where>
        group by coin
    </select>

    <select id="selectTransactionPage" resultType="com.tianli.fund.vo.FundTransactionRecordVO">
        select
            a.id,
            a.uid uid,
            a.product_id productId,
            a.product_name productName,
            c.product_name_en productNameEn,
            a.coin,
            c.rate,
            a.transaction_amount transactionAmount,
            a.type,
            a.status,
            a.create_time createTime
        from
        fund_transaction_record a
        left join wallet_agent_product b on a.product_id = b.product_id
        left join fund_record c on a.fund_id = c.id
        <where>
            <if test="query.queryUid != null and query.queryUid != ''">
                and a.uid like concat('%',#{query.queryUid},'%')
            </if>
            <if test="query.queryFundId != null and query.queryFundId != ''">
                and a.fund_id like concat('%',#{query.queryFundId},'%')
            </if>
            <if test="query.queryProductId != null and query.queryProductId != ''">
                and a.product_id like concat('%',#{query.queryProductId},'%')
            </if>
            <if test="query.type != null">
                and a.type = #{query.type}
            </if>
            <if test="query.status != null">
                and a.status = #{query.status}
            </if>
            <if test="query.startTime != null ">
                and a.create_time >= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                and a.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.agentUId != null">
                and b.uid = #{query.agentUId}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectWaitRedemptionCount" resultType="int">
        select
            count(*)
        from
            fund_transaction_record a
        left join
            wallet_agent_product b on a.product_id = b.product_id
        where b.uid = #{agentUid} and a.status = 3
    </select>
</mapper>
