<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.management.dao.WalletAgentMapper">

    <resultMap id="voMap" type="com.tianli.management.vo.WalletAgentVO">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="agent_name" property="agentName"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="selectPageByQuery" resultMap="voMap">
        select
        t.`id`,
        t.`uid`,
        t.`agent_name`,
        t.`remark`,
        t.`create_time`
        from
        wallet_agent t
        <where>
            <if test="query.queryUid != null and query.queryUid != ''">
                t.uid like concat('%',#{query.queryUid},'%')
            </if>
            <if test="query.queryProductId != null and query.queryProductId != ''">
                and EXISTS(select * from wallet_agent_product t1 where t1.agent_id = t.id and t1.product_id like
                concat('%',#{query.queryProductId},'%'))
            </if>
            and t.deleted = 0
        </where>
    </select>
    <select id="interestAmountSum" resultType="com.tianli.management.dto.AmountDto">
        SELECT ifnull(SUM(c.interest_amount), 0) amount, a.coin
        FROM fund_record a
                 LEFT JOIN wallet_agent_product b ON a.product_id = b.product_id
                 left JOIN fund_income_record c on a.id = c.fund_id
        WHERE b.agent_id = #{agentId}
          and c.status in
        <foreach collection="status" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        GROUP BY a.coin
    </select>

</mapper>
