<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianli.management.dao.WalletAgentProductMapper">

    <select id="selectPage" resultType="com.tianli.agent.management.vo.FundProductStatisticsVO">
        SELECT
            b.id productId,
            b.name productName,
            b.type type,
            b.coin coin,
            b.rate rate
        FROM wallet_agent_product a
        left join financial_product b on a.product_id = b.id
        WHERE a.uid = #{agentUId}
    </select>

</mapper>
